html {
    height: 100%;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
}
body {
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    font-family: Helvetica, arial, sans-serif;
    position: relative;
    width: 100%;

    -webkit-tap-highlight-color: transparent;
}

#splash {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color:#000000;

    color: red;
    font-size: 40px;
    overflow: hidden;
}

#application-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#application-canvas.fill-mode-NONE {
    margin: auto;
}
#application-canvas.fill-mode-KEEP_ASPECT {
    width: 100%;
    height: auto;
    margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas:focus {
    outline: none;
}




.noselect { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.fullscreen-cont-init {
    position: absolute;
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 100%;
    z-index: 3;
}
.fullscreen-cont-remote {
    position: absolute;
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.fullscreen-cont-game {
    position: absolute;
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.init-cont {
    width: 100%;
    height: 100%;
    display: grid; place-items: center;
}
.init-buttons-cont {
    /* width: 200px; */
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    /* background-color: aqua; */
}
.custom-btn {
    background-color: #000000;
    color: #fff;
    border: 1px white solid;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    /* min-height: 44px; */
    /* min-width: 120px; */
    transition: background-color 0.21s ease;
    -webkit-tap-highlight-color: #ccc;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
.custom-btn:active {
    background-color: rgb(219, 219, 219) !important;
}
/* .custom-btn:hover {
    background-color: rgb(99, 99, 99);
} */

#unity-canvas {
    background-color: #000000;
    /* width: 1920px; */
    /* height: 1080px; */
    width: 100%;
    height: 100%;
    /* width: var(--game-width); */
    /* height: var(--game-height); */
    /* border-radius: 17px; */
    z-index: 4;
    position: relative;
    /* border: 1px solid rgb(105, 105, 105); */
}

.site-output-log{
    position: absolute;
    border: 1px rgba(255, 255, 255, 0.357) solid;
    width: 500px;
    max-width: 75vw;
    height: 50vh;
    z-index: 9;
    bottom: 50px;
    right: 50px;
    pointer-events: none;
    display: none; justify-content: flex-end;
    flex-direction: column;
    padding: 5px;
    overflow: hidden;
}
.site-output-log span {
    color: white;
    font-size: 0.8rem;
}

/* ---------------------- */

.remote-window
{
    /* display: grid; */
    /* justify-content: center; */
    justify-content: left;
    flex-direction: column;
    row-gap: 1rem;
    border: white 1px solid;
    /* width: 500px; */
    width: 100%;
    /* height: 500px; */
    height: 99vh;
    position: relative;
}

#game-state-id{
    width: 100%;
    height: 30px;
    background-color: purple;
    border-radius: 7px;
    color: white;
    display: grid; place-items: center;
    margin-top: 23px;
}

.card-button-grid{
    /* width: 420px; */
    width: 100%;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* flex-wrap: wrap; */
    row-gap: 0rem;
}

.custom-card-btn {
    background-color: #000000;
    color: #fff;
    border: 1px white solid;
    /* padding: 10px 20px; */
    border-radius: 5px;
    font-size: 16px;
    /* text-align: center; */
    cursor: pointer;
    /* min-height: 44px; */
    /* min-width: 120px; */
    transition: background-color 0.21s ease;
    -webkit-tap-highlight-color: #ccc;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    max-width: 30px;
    max-height: 30px;

}
.custom-card-btn span {
    position: absolute;
    transform: translate(-14px, -13px);
}

.wilds-cont{
    width: 100%;
    height: 43px;
    /* background-color: red; */
    display: flex;
}

.card-preview-cont{
    position: absolute;
    left: 20px;
    right: 20px;
    top: 70px;
    height: 240px;
    background-color: #000000;
    border-radius: 7px;
    border: white solid 1px;
    z-index: 3;
    display: none;
}
.card-mocks-cont{
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.card-mock{
    background-color: white;
    border-radius: 6px;
    width: 110px;
    height: 160px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

.card-mock-img{
    width: 50px;
    height: 50px;
}
.mock-card-cancel-cont{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sending-cont{
    color: white;
    width: 100%;
    height: 15px;
    font-size: 10px;
    display: grid; place-items: center;
}

.other-menu-cont{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border: white solid 1px;
    border-radius: 7px;
    background-color: #000000;
    z-index: 7;
    padding: 60px 20px 20px 20px;
    /* display: flex; */
    display: none;
    flex-direction: column;
}
.other-menu-cont span {
    color: white;
}