
@font-face {
    font-family: 'Clash';
    src: url('/assets/fonts/ClashDisplay-Regular.otf')
}

html, body {
    margin: 0px;
    background-color: black;
}

.n-white-text { color: white; font-family: 'Clash'; }
.n-black-text { color: black; font-family: 'Clash'; }

.n-fullscreen-cont {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: grid; place-items: center;
}
.n-mobile-cont{
    width: 410px;
    height: 700px;
    border: rgb(31, 31, 31) solid 1px;
    position: relative;
}
.n-state-cont{
    border: rgb(247, 0, 255) 1px solid;
    background-color: rgb(55, 0, 55);
    width: 300px;
    height: 40px;
    border-radius: 55px;
    display: grid; place-items: center;
}
.n-number-out-cont{
    /* border: red solid 1px; */
    border-bottom: 1px solid white !important;
    /* width: 100%; */
    margin-left: 68px;
    width: 65%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.n-number-out{
    width: 100%;
    color: white;
    font-family: 'Clash';
    height: 50px;
    font-size: 42px;
    display: grid; place-items: center;
}

.n-center-dial-cont {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.n-dial-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    gap: 10px; 
    /* height: 300px;  */
    width: 300px;
}

.n-dial-container > button {
    /* border: 1px solid white; */
    border: 1px solid rgb(46, 46, 46);
    text-align: center;
    padding: 20px;
    width: 90px;
    height: 90px;
    font-size: 35px;
    background-color: #1d1d1d;
}
.n-dial-container > input {
    background-color: white; color: black;
    border: 1px solid rgb(46, 46, 46);
    text-align: center;
    padding: 20px;
    width: 90px;
    height: 90px;
    margin: 0px;
    padding: 0px;
    /* font-size: 35px; */
    border-radius: 500px;
}

.n-btn {
    background-color: #000000;
    color: #fff;
    border: 1px white solid;
    padding: 10px 20px;
    border-radius: 500px;
    font-size: 16px;
    cursor: pointer;
    /* min-height: 44px; */
    /* min-width: 120px; */
    transition: background-color 0.21s ease;
    -webkit-tap-highlight-color: #ccc;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
.n-btn:active {
    background-color: rgb(219, 219, 219) !important;
}
.n-wild-cont{
    margin-top: 25px;
    width: 100%;
    /* border: red solid 1px; */
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}
.n-wild-btn{
    background-color: #ff1717;
    color: #fff;
    border: 1px rgba(255, 255, 255, 0.288) solid;
    padding: 10px 20px;
    border-radius: 11px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.21s ease;
    -webkit-tap-highlight-color: #ccc;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    width: 100%;
}

.n-players-cont{
    position: absolute;
    z-index: 25;
    /* width: 100%; */
    /* height: 100%; */
    background-color: #1d1d1d;
    border: solid 1px rgb(34, 34, 34);
    top: 20px;
    bottom: 70px;
    left: 20px;
    right: 20px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.n-settings-white-text { color: white; font-family: 'Clash'; }

.n-text-field {
    /* border-color: #333333; */
    border-color: clear;
    border: none;
    border-radius: 7px;
    background-color: #333333;
    height: 30px;
    font-size: 16px;
    color: white;
}
.n-text-field::placeholder { color: #1d1d1d; }
.n-back-btn{
    position: absolute;
    z-index: 30;
    width: 110px;
    height: 50px;
    bottom: 15px;
    right: 20px;

    background-color: #1d1d1d;
    color: #fff;
    border: 1px rgba(255, 255, 255, 0.288) solid;
    padding: 10px 20px;
    border-radius: 11px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.21s ease;
    -webkit-tap-highlight-color: #ccc;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
.n-settings-btm{
    background-color: #303030;
    color: #fff;
    border: 1px rgba(255, 255, 255, 0.073) solid;
    padding: 10px 20px;
    border-radius: 11px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.21s ease;
    -webkit-tap-highlight-color: #ccc;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
.n-auto-colour-cont{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    /* border: red solid 1px; */
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;    
}

.n-card-compare-cont{
    background-color: #303030;
    width: calc(100% + 40px);
    height: 300px;
    margin-left: -20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.n-card-mock{
    background-color: white;
    margin-top: 30px;
    height: 210px;
    width: 140px;
    border-radius: 11px;
    border: rgb(104, 104, 104) 1px solid;
    display: flex;
    flex-wrap: wrap;
}
.n-card-mock-img-cont{
    width: 70px;
    height: 70px;
    position: relative;
    transform: scale(85%);
}
.n-card-mock-img-cont img { width: 100%; height: 100%; }